# Checkpoints / Models
*.pth
checkpoints/
GAN/checkpoints/

# Generated samples
GAN/samples/
GAN/debug_samples/

# Cache & Python compiled
__pycache__/
*.pyc

files/
*.pickle
*.pth
*.zip
*.pt


# Big dataset files
*.zip
*.tar
*.tar.gz
dataset/
GAN/dataset/
